--pre
git+https://github.com/Pycord-Development/pycord#egg=py-cord
git+https://github.com/IotaSpencer/logging-disgram#egg=logging-disgram
yaml2object==1.0.13
asyncclick==8.0.3.2
setuptools==62.1.0
PyYAML==6.0
anyio==3.5.0
omegaconf==2.1.2
arrow~=1.2.2
jishaku==2.3.0
pathtools==0.1.2
aiohttp==3.8.1
colorlog==6.6.0
json-logging==1.5.0rc0
flask==2.1.2
